* {box-sizing: border-box}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(122, 216, 233);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}

.role {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}
/*
.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
}
*/
.navbar a {
  float: center;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-size: 27px;
  width: 40%;
  text-align: center;
  overflow: auto;
}

.navbar a:hover {
  background-color: rgb(124, 121, 121);
}

#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  top: 220%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 220%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#projectsCSS {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 780px;
  height: 750px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

}

#intro {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 780px;
  height: 180px;
  box-shadow: 10px 10px grey;;
}
#about {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 980px;
  height: 350px;
  box-shadow: 10px 10px grey;;
}


footer {
  position: absolute;
  left: 15%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  top: 360%;
  margin-right: 40px;
  background-color: rgb(122, 216, 233);
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 1250px) {
  #about {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    left: 15%;
    color: #000;
    width: 780px;
    height: 350px;
    box-shadow: 10px 10px grey;;
  }

  
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  top: 240%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 240%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

}

@media screen and (max-width: 1100px) {
  .name {
    position: absolute;
    top: 25%;
    left: 50%;
    /*transform: translate(-50%,-50%);*/
    font-size: 30px;
  }

  .role {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
  }

  .navbar a {
    float: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 27px;
    width: 40%;
    text-align: center;
    overflow: auto;
  }
  
  .navbar a:hover {
    background-color: rgb(124, 121, 121);
  }

  
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 280%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 640%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 460%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

footer {
  position: absolute;
  left: 15%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  top: 800%;
  margin-right: 180px;
  background-color: rgb(122, 216, 233);
  color: white;
  font-size: 15px;
}

}
@media screen and (max-width: 1000px) {
#intro {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 580px;
  height: 230px;
  box-shadow: 10px 10px grey;;
}

#about {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 580px;
  height: 450px;
  box-shadow: 10px 10px grey;;
}
footer {
  position: absolute;
  left: 15%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  top: 870%;
  margin-right: 40px;
  background-color: rgb(122, 216, 233);
  color: white;
  font-size: 30px;
}
}

@media screen and (max-width: 700px) {
  .name {
    position: absolute;
    top: 25%;
    left: 50%;
    /*transform: translate(-50%,-50%);*/
    font-size: 30px;
  }

  .role {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
  }

  #intro {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    left: 15%;
    color: #000;
    width: 380px;
    height: 300px;
    box-shadow: 10px 10px grey;;
  }

#about {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 5%;
  color: #000;
  width: 480px;
  height: 450px;
  box-shadow: 10px 10px grey;;
}

 
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 320%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 780%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 540%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}


footer {
  position: absolute;
  left: 3%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  top: 1000%;
  margin-right: 40px;
  background-color: rgb(122, 216, 233);
  color: white;
  font-size: 30px;
}
  }
  @media screen and (max-width: 400px) {
    .name {
      position: absolute;
      top: 10%;
      left: 50%;
      /*transform: translate(-50%,-50%);*/
      font-size: 15px;
    }
  
    .role {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 10px;
    }

    

#about {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 5%;
  color: #000;
  width: 480px;
  height: 450px;
  box-shadow: 10px 10px grey;;
}

 
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 280%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 640%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 460%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}
  
  footer {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    left:-20%;
    top: 900%;
    background-color: rgb(122, 216, 233);
    color: white;
    font-size: 20px;
  }
    }