* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(122, 216, 233);
}

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 400px;
}

.name {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}

.role {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}

.email {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}

.lin {
  position: absolute;
  top: 50%;
  left: 5%;
  size: 10%;
}

.gi {
  position: absolute;
  top: 50%;
  left: 70%;
}

.navbar a {
  float: center;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-size: 27px;
  width: 40%;
  text-align: center;
  overflow: auto;
}

.navbar a:hover {
  background-color: rgb(124, 121, 121);
}

#intro {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  color: #000;
  width: 80%;
  height: 80%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#advDay{
  position: relative;
  width: 50%;
}


#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  top: 220%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 220%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}


#day1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 180%;
  color: #000;
  width: 70%;
  height: 100%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 290%;
  color: #000;
  width: 70%;
  height: 170%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 470%;
  color: #000;
  width: 70%;
  height: 100%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 580%;
  color: #000;
  width: 70%;
  height: 160%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day5 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 750%;
  color: #000;
  width: 70%;
  height: 160%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day6 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 920%;
  color: #000;
  width: 70%;
  height: 450px;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#days{
  position: absolute;
  left: 15%;
  top: 1050%;
  padding-bottom: 20%;
  
}


@media screen and (max-width: 1250px) {

  .navbar a {
    float: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 27px;
    width: 40%;
    text-align: center;
    overflow: auto;
  }
  
  .navbar a:hover {
    background-color: rgb(124, 121, 121);
  }

   
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  top: 240%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 240%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

}
@media screen and (max-width: 1000px) {

  .name {
    position: absolute;
    top: 20%;
    left: 50%;
    /*transform: translate(-50%,-50%);*/
    font-size: 30px;
  }

  .role {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
  }

  .navbar a {
    float: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 27px;
    width: 40%;
    text-align: center;
    overflow: auto;
  }
  
  .navbar a:hover {
    background-color: rgb(124, 121, 121);
  }

  .lin {
    position: absolute;
    top: 52%;
    left: 5%;
  }
  
  .gi {
    position: absolute;
    top: 50%;
    left: 60%;
  }

  .email {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
  }

  
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 280%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 640%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 460%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}


}

@media screen and (max-width: 700px) {
  .name {
    position: absolute;
    top: 10%;
    left: 50%;
    /*transform: translate(-50%,-50%);*/
    font-size: 20px;
  }

  .role {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
  }

  
.email {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}

.lin {
  position: absolute;
  top: 52%;
  left: -20%;
}

.gi {
  position: absolute;
  top: 50%;
  left: 60%;
}


 
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 320%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 780%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 540%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

  }

  @media screen and (max-width: 400px) {
    .container {
      position: relative;
      text-align: center;
      color: white;
      width: 320px;
    }
    .name {
      position: absolute;
      top: 10%;
      left: 50%;
      /*transform: translate(-50%,-50%);*/
      font-size: 20px;
    }
  
    .role {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 15px;
    }

    .email {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 15px;
    }

    .lin {
      position: absolute;
      top: 52%;
      left: -20%;
    }
    
    .gi {
      position: absolute;
      top: 50%;
      left: 60%;
    }
    
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 280%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 640%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 460%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}
 
  
    }