* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(122, 216, 233);
}

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 30%;
}

.name {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}

.role {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}

.navbar a {
  float: center;
  padding: 20px;
  color: black;
  text-decoration: none;
  font-size: 27px;
  width: 40%;
  text-align: center;
  overflow: auto;
}

.navbar a:hover {
  background-color: rgb(124, 121, 121);
}

#intro {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  color: #000;
  width: 80%;
  height: 80%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#advDay{
  position: relative;
  width: 50%;
}


#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  top: 220%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 220%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);

  
}


#day1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 200%;
  color: #000;
  width: 70%;
  height: 150%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 370%;
  color: #000;
  width: 70%;
  height: 180%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 570%;
  color: #000;
  width: 70%;
  height: 160%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 750%;
  color: #000;
  width: 70%;
  height: 160%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day5 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 930%;
  color: #000;
  width: 70%;
  height: 160%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day6 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 1120%;
  color: #000;
  width: 70%;
  height: 160%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#days{
  position: absolute;
  left: 15%;
  top: 1360%;
  padding-bottom: 20%;
  
}

#bottom{
    position: absolute;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    left: 15%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 70%;
    height: 70%;
    top: 300%;
    box-shadow: 10px 10px grey;
    background-color: rgb(122, 216, 233);
}

#gameImg{
  width: 100%;
}

.asteroid{
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 60%;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);
}

#about {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 980px;
  height: 400px;
  box-shadow: 10px 10px grey;
  background-color: rgb(255, 255, 255);
}


@media screen and (max-width: 1250px) {

  #about {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    left: 15%;
    color: #000;
    width: 780px;
    height: 350px;
    box-shadow: 10px 10px grey;;
  }
  .navbar a {
    float: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 27px;
    width: 40%;
    text-align: center;
    overflow: auto;
  }
  
  .navbar a:hover {
    background-color: rgb(124, 121, 121);
  }

   
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 50%;
  top: 180%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 180%;
  color: #000;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

}
@media screen and (max-width: 1000px) {

  #about {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    left: 15%;
    color: #000;
    width: 580px;
    height: 450px;
    box-shadow: 10px 10px grey;;
  }
  .name {
    position: absolute;
    top: 20%;
    left: 50%;
    /*transform: translate(-50%,-50%);*/
    font-size: 30px;
  }

  .role {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
  }

  #intro {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    left: 10%;
    color: #000;
    width: 80%;
    height: 90%;
    box-shadow: 10px 10px grey;
    background-color: rgb(250, 250, 250);
  }

  .navbar a {
    float: center;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 27px;
    width: 40%;
    text-align: center;
    overflow: auto;
  }
  
  .navbar a:hover {
    background-color: rgb(124, 121, 121);
  }
  
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 180%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 380%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 280%;
  color: #000;
  width: 550px;
  height: 350px;
  box-shadow: 10px 10px grey;;

  
  
}


#day1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 200%;
  color: #000;
  width: 70%;
  height: 180%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 400%;
  color: #000;
  width: 70%;
  height: 200%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 620%;
  color: #000;
  width: 70%;
  height: 190%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 840%;
  color: #000;
  width: 70%;
  height: 180%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day5 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 1050%;
  color: #000;
  width: 70%;
  height: 160%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day6 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 1240%;
  color: #000;
  width: 70%;
  height: 180%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#days{
  position: absolute;
  left: 15%;
  top: 1460%;
  padding-bottom: 20%;
  
}

#bottom{
  position: absolute;
  font-size: 30px;
  width: 90%;
  height: 70%;
  top: 500%;
  left: 5%;
}


}

@media screen and (max-width: 700px) {
  #about {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    left: 5%;
    color: #000;
    width: 480px;
    height: 450px;
    box-shadow: 10px 10px grey;;
  }
  .name {
    position: absolute;
    top: 10%;
    left: 50%;
    /*transform: translate(-50%,-50%);*/
    font-size: 20px;
  }

  #intro {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    left: 10%;
    color: #000;
    width: 80%;
    height: 160%;
    box-shadow: 10px 10px grey;
    background-color: rgb(250, 250, 250);
  }

  .role {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
  }
  
#day1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 280%;
  color: #000;
  width: 70%;
  height: 200%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 500%;
  color: #000;
  width: 70%;
  height: 270%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 800%;
  color: #000;
  width: 70%;
  height: 210%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 1030%;
  color: #000;
  width: 70%;
  height: 200%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day5 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 1260%;
  color: #000;
  width: 70%;
  height: 200%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#day6 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 15%;
  top: 1500%;
  color: #000;
  width: 70%;
  height: 230%;
  box-shadow: 10px 10px grey;
  background-color: rgb(250, 250, 250);
}

#days{
  position: absolute;
  left: 15%;
  top: 1750%;
  padding-bottom: 20%;
  
}

  #bottom{
    position: absolute;
    font-size: 15px;
    width: 90%;
    height: 70%;
    top: 500%;
    left: 5%;
}



 
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 5%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 5%;
  top: 190%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 5%;
  top: 390%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 5%;
  top: 290%;
  color: #000;
  width: 450px;
  height: 350px;
  box-shadow: 10px 10px grey;;
  
}

  }

  @media screen and (max-width: 400px) {
    .container {
      position: relative;
      text-align: center;
      color: white;
      width: 320px;
    }
    .name {
      position: absolute;
      top: 10%;
      left: 50%;
      /*transform: translate(-50%,-50%);*/
      font-size: 20px;
    }
  
    .role {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 15px;
    }

    
#project1 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#project2 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 160%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#project4 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 300%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#project3 {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 10%;
  top: 230%;
  color: #000;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px grey;;
  
}

#about {
  position: absolute;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  left: 5%;
  color: #000;
  width: 280px;
  height: 550px;
  box-shadow: 10px 10px grey;;
}
/*
#bottom{
  position: absolute;
  font-size: 15px;
  width: 90%;
  height: 70%;
  top: 500%;
  left: 5%;
}
*/
  
    }
