body{
    background-color: #07c1c8;
}

@media (min-width: 788px) {
    .glPrinting_Header{
        margin-left: 40%;
        margin-right: 25%;
    }

    .dgl_nav_btns{
        margin-left: 32%;
        margin-right: 25%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .dgl_nav_btns button{
        border:solid; box-shadow: 5px 5px;
        margin-left: 20px;
    }
}

@media (max-width: 788px) {
    .glPrinting_Header{
        margin-left: 25%;
        margin-right: 25%;
        height: 25%;
    }
}
